div{
    &.container{
        div{
            &.header{
                min-height: 50px;
                background-color: #ddd;
                margin-bottom: 14px;
            }
            &.body-container{
                
            }
            &.footer{
                min-height: 40px;
                border-top: 1px solid #aaa;
                margin-top: 10px;
            }
        }
    }
    
}