<div class="container">
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeHolder="Task name" aria-label="Default"
      aria-describedby="inputGroup-sizing-default" [(ngModel)]="taskName" (keyup.enter)="addTask()">

  </div>
  <div class="task-list-container">
    <ul class="list-group">
      <li class="list-group-item" *ngFor='let task of taskList'>
        <span *ngIf="!task.completed">
          {{task.taskName}}
        </span>
        <span *ngIf="task.completed">
          <s>{{task.taskName}}</s>
        </span>
        <button type="button" class="close" aria-label="Close" (click)="updateTask(task._id)" *ngIf="!task.completed">
          <span aria-hidden="true">&times;</span>
        </button>
      </li>
    </ul>
  </div>
</div>
